<% content_for :title, "Batch Update Sign-offs" %>

<% content_for :breadcrumbs do %>
  <%= crumb "Sign-offs by tool", active: true %>
<% end %>

<%= render "shared/flash" %>
<div>
  @text
</div>